header {
  background: linear-gradient(180deg, #ff008c 0%, rgb(211, 9, 225) 100%);
  height: 10%;
  color: snow;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;
}

h1 {
  margin: 0;
  padding-top: 1rem;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }
  .header em {
    font-size: 0.8rem;
  }
}
